In [6]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
import pandas as pd

In [21]:
file_path = "./alzheimers_prediction_dataset.csv"
df = pd.read_csv(file_path)
df.head(5)

,Country,Age,Gender,Education Level,BMI,Physical Activity Level,Smoking Status,Alcohol Consumption,Diabetes,Hypertension,...,Dietary Habits,Air Pollution Exposure,Employment Status,Marital Status,Genetic Risk Factor (APOE-ε4 allele),Social Engagement Level,Income Level,Stress Levels,Urban vs Rural Living,Alzheimer’s Diagnosis
0,Spain,90,Male,1,33.0,Medium,Never,Occasionally,No,No,...,Healthy,High,Retired,Single,No,Low,Medium,High,Urban,No
1,Argentina,72,Male,7,29.9,Medium,Former,Never,No,No,...,Healthy,Medium,Unemployed,Widowed,No,High,Low,High,Urban,No
2,South Africa,86,Female,19,22.9,High,Current,Occasionally,No,Yes,...,Average,Medium,Employed,Single,No,Low,Medium,High,Rural,No
3,China,53,Male,17,31.2,Low,Never,Regularly,Yes,No,...,Healthy,Medium,Retired,Single,No,High,Medium,Low,Rural,No
4,Sweden,58,Female,3,30.0,High,Former,Never,Yes,No,...,Unhealthy,High,Employed,Married,No,Low,Medium,High,Rural,No

In [10]:
df.shape

(74283, 25)

In [11]:
df.isnull().sum()

Country                                 0
Age                                     0
Gender                                  0
Education Level                         0
BMI                                     0
Physical Activity Level                 0
Smoking Status                          0
Alcohol Consumption                     0
Diabetes                                0
Hypertension                            0
Cholesterol Level                       0
Family History of Alzheimer’s           0
Cognitive Test Score                    0
Depression Level                        0
Sleep Quality                           0
Dietary Habits                          0
Air Pollution Exposure                  0
Employment Status                       0
Marital Status                          0
Genetic Risk Factor (APOE-ε4 allele)    0
Social Engagement Level                 0
Income Level                            0
Stress Levels                           0
Urban vs Rural Living                   0
Alzheimer’s Diagnosis                   0
dtype: int64

In [13]:
duplicated = df[df.duplicated()]
duplicated

Empty DataFrame
Columns: [Country, Age, Gender, Education Level, BMI, Physical Activity Level, Smoking Status, Alcohol Consumption, Diabetes, Hypertension, Cholesterol Level, Family History of Alzheimer’s, Cognitive Test Score, Depression Level, Sleep Quality, Dietary Habits, Air Pollution Exposure, Employment Status, Marital Status, Genetic Risk Factor (APOE-ε4 allele), Social Engagement Level, Income Level, Stress Levels, Urban vs Rural Living, Alzheimer’s Diagnosis]
Index: []

[0 rows x 25 columns]

In [20]:
df.groupby(df.columns[-1]).count()

,Country,Age,Gender,Education Level,BMI,Physical Activity Level,Smoking Status,Alcohol Consumption,Diabetes,Hypertension,...,Sleep Quality,Dietary Habits,Air Pollution Exposure,Employment Status,Marital Status,Genetic Risk Factor (APOE-ε4 allele),Social Engagement Level,Income Level,Stress Levels,Urban vs Rural Living
Alzheimer’s Diagnosis,,,,,,,,,,,,,,,,,,,,,
No,43570,43570,43570,43570,43570,43570,43570,43570,43570,43570,...,43570,43570,43570,43570,43570,43570,43570,43570,43570,43570
Yes,30713,30713,30713,30713,30713,30713,30713,30713,30713,30713,...,30713,30713,30713,30713,30713,30713,30713,30713,30713,30713

There are 2 types of possible results:
* Yes with 30713 rows
* No with 43570 rows

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74283 entries, 0 to 74282
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Country                               74283 non-null  object
 1   Age                                   74283 non-null  int64
 2   Gender                                74283 non-null  object
 3   Education Level                       74283 non-null  int64
 4   BMI                                   74283 non-null  float64
 5   Physical Activity Level               74283 non-null  object
 6   Smoking Status                        74283 non-null  object
 7   Alcohol Consumption                   74283 non-null  object
 8   Diabetes                              74283 non-null  object
 9   Hypertension                          74283 non-null  object
 10  Cholesterol Level                     74283 non-null  object
 11  Family History of Alzheimer’s         74283 non-null  object
 12  Cognitive Test Score                  74283 non-null  int64
 13  Depression Level                      74283 non-null  object
 14  Sleep Quality                         74283 non-null  object
 15  Dietary Habits                        74283 non-null  object
 16  Air Pollution Exposure                74283 non-null  object
 17  Employment Status                     74283 non-null  object
 18  Marital Status                        74283 non-null  object
 19  Genetic Risk Factor (APOE-ε4 allele)  74283 non-null  object
 20  Social Engagement Level               74283 non-null  object
 21  Income Level                          74283 non-null  object
 22  Stress Levels                         74283 non-null  object
 23  Urban vs Rural Living                 74283 non-null  object
 24  Alzheimer’s Diagnosis                 74283 non-null  object
dtypes: float64(1), int64(3), object(21)
memory usage: 14.2+ MB